@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100vh;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Rubik;
}
