@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-indigo-600: rgb(79 70 229);
}

#root {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100vh;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-indigo-600) white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-indigo-600);
  border-radius: 20px;
  border: 3px solid white;
}

/* Disable spin buttons for inputs with type numberk */
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@layer components {
  .input {
    @apply ring-1 ring-slate-400 rounded-md py-2 pl-3 mb-2 enabled:shadow-md focus:ring-2 focus:ring-indigo-600 focus:outline-none;
  }

  .btn {
    @apply bg-indigo-600 text-white font-medium rounded-md py-2 px-4 my-4 enabled:hover:shadow-lg hover:bg-indigo-800 disabled:bg-indigo-300;
  }

  .btn-secondary {
    @apply bg-white text-indigo-600 font-medium border-2 border-solid border-indigo-600 rounded-md py-2 px-4 my-4 enabled:hover:shadow-lg hover:text-indigo-800 hover:border-indigo-800 disabled:text-indigo-300 disabled:border-indigo-300;
  }

  .btn-accent {
    @apply bg-red-600 text-white font-medium rounded-md py-2 px-4 my-4 enabled:hover:shadow-lg hover:bg-red-700 disabled:bg-red-200;
  }

  .btn-fab {
    @apply bg-indigo-600 text-white rounded-full w-10 h-10 enabled:hover:shadow-lg hover:bg-indigo-800 disabled:bg-indigo-300;
  }

  .card {
    @apply h-min shadow-md ring-1 ring-slate-300 rounded-lg p-5 w-full bg-white;
  }

  .h1 {
    @apply text-3xl font-bold;
  }
}
